/*레이아웃*/
*{     /*전체잡기*/
  margin: 0px;
  padding: 0px;
}
header{
  height: 10vh; /*화면 사이즈의 10%*/
  background-color:#381e72;
  color: #e7e0eb;
  display: flex;
  justify-content: center;
  align-items: center;
  top :0;
  position: sticky;
  font-family: 'Jua', sans-serif;
}
main{
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#cac4cf

}
main > section{
  display: flex;
  flex-direction: column;  /*중심축 세로정렬*/
  justify-content: center;
  align-items: center;
  margin: 2vh;
}
/*버튼*/
button{
  display: inline-block;
  width: 100;
  margin: 1vh;
  width: 50vw;
  height: 20vw;
  max-width: 200px;
  max-height: 50px;
  border-radius: 8px;
  border: none;
  background-color:#625b71;
  color: antiquewhite;
  font-size: 1rem;
}
button:hover, button:active{
  background-color:#6750a4 ;
}